body {
  margin: 0;
}

html {
  font-family: 'Lato', Arial, Helvetica, sans-serif !important;
}

hr {
  height: 2px;
  background-color: brown;
}

nav > a {
  width: 25%;
  border-radius: 0 !important;
}

a:not(:last-of-type) {
  border-right: 1px solid white;
}

.counter-box {
  width: 400px;
  height: 400px;
  background-color: aquamarine;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cursor-pointer {
  cursor: pointer;
}

.slide-toggle-container {
  height: 400px;
}

.animate-container {
  width: 400px;
  border: 1px solid gray;
  position: relative;
}

.stop-container {
  width: 400px;
  height: 250px;
  font-size: 1rem;
}

.dimensions {
  width: 400px;
  height: 300px;
  margin: 10px;
  padding: 30px;
  border: 10px solid gray;
}

.dimensions p {
  line-height: 1;
  margin: 5px 0;
}
