body {
  margin: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.counter-box {
  width: 400px;
  height: 400px;
  background-color: aquamarine;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cursor-pointer {
  cursor: pointer;
}

.slide-toggle-container {
  height: 400px;
}

.animate-container {
  width: 400px;
  border: 1px solid gray;
  position: relative;
}
